{% extends 'admin/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block cardheader %}
    <h1>Liste des utilisateurs</h1>
{% endblock %}
    
{% block cardbody %}
    <table class="table">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.alias }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Personne ici</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
