{% extends 'admin/base.html.twig' %}

{% block title %}{{ user.alias }}{% endblock %}

{% block cardheader %}
    <h1>{{ user.alias }}</h1>
    <a class="btn btn-link" href="{{ path('app_admin_user_index') }}">Retour</a>
{% endblock %}
    
{% block cardbody %}
    <div class="row">
        <div class="col-md-3">
            {% if user.avatar %}
                <img src="{{ asset('images/uploads' ~ user.avatar) }}" alt="{{ user.alias }}" class="img-fluid">
            {% else %}
                <p>Pas d'image de profil</p>
            {% endif %}
        </div>
        <div class="col-md-9">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Alias</th>
                        <td>{{ user.alias }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>BirthAt</th>
                        <td>{{ user.birthAt ? user.birthAt|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ user.city }}</td>
                    </tr>
                    <tr>
                        <th>Longitude</th>
                        <td>{{ user.longitude }}</td>
                    </tr>
                    <tr>
                        <th>Latitude</th>
                        <td>{{ user.latitude }}</td>
                    </tr>
                    <tr>
                        <th>PostalCode</th>
                        <td>{{ user.postalCode }}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block cardfooter %}
    <div class="d-flex justify-content-between">
        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Editer</a> 
        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
{% endblock %}
    