{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="fs-3 title text-center mt-5 mb-3">Créer mon profil</h1>
    <div class="registration-form bg-light border border-3 rounded-5 p-3 mb-3">

        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.alias) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.avatarFile) }}
                    {{ form_row(form.birthAt) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.postalCode) }}
                    {{ form_row(form.city) }}
                </div>
            </div>

            <div class="text-center mt-3 mt-5">
                <button type="submit" class="btn btn-primary rounded-pill">Confirmer</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
