{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_profil') }}">Profil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Changer de mot de passe</li>
        </ol>
    </nav>

	<section class="card col-md-6 mx-auto">
        <div class="card-header">
            <h1 class="card-title">Changer de mot de passe</h1>
            <a class="btn btn-link" href="{{ path('app_profil') }}">Retour</a>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

			{{ form_errors(form) }}

			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary">
				Valider
			</button>

			{{ form_end(form) }}
        </div>
    </section>
{% endblock %}